.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialog a.active {
    color: gold;
}

.dialog {
}

.dialog a {
    text-decoration: none;
    color: white;
}
